name: Deploy Azure Function App - feedback-api

on:
  push:
    branches: [ main ]
    paths:
      - "api/**"
      - ".github/workflows/deploy-function.yml"
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_FEAF36F717B240EF9184605BEA74CCD2 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_76336A34332A4BA7A74F53D77794B983 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_9A4A498F95914206AC2FDE69104A6CD4 }}

      - name: Deploy
        uses: Azure/functions-action@v1
        with:
          app-name: "feedback-api"
          package: "api"
